a {color:#26a69a}
a:not(.btn):not(.noeffect):hover {color:#26a69a}
a:not(.btn):not(.noeffect):after {background-color:#26a69a}
.btn, button, [type=button], [type=submit] {background-color:#26a69a; color:white}
.progress .determinate {background-color:#26a69a}
.progress .indeterminate {background-color:#26a69a}
.tags > span {background-color: #26a69a}
.tags.dismissible > span.off:hover {background-color:#26a69a}


.home_and_portfolio{
  font-family: 'Courgette', cursive;
  font-size: 60px;
  font-weight: 400;
}

.home_header{
  text-shadow: 2px 2px #ffc3e1;
}

.home_and_portfolio h4{
  font-family: 'Patua One', cursive;
}

.home_and_portfolio h3{
  font-family: 'Noto Serif', serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
}

.services_and_contact{
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  font-weight: 400;
  background-image:
     linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/2152557/1360/907/m1/fpnw/wm1/swgh4yroqcpmmsdn6agpnyygvrxxjyf5vdddsp9cj1dush4zt98e3dxmydruevil-.jpg?1484817696&s=cd066c7a55fe53f13f0fe1c6f586b1c0");
    color: white;
}

.services_and_contact h1{
  font-size: 60px;
  font-weight: 200;
  text-shadow: 1px 1px #ffc3e1;
}

.services_and_contact h3{
  font-size: 40px;
  font-weight: 500;
  font-family: 'Noto Serif', serif;
}

.contact{
  font-family: 'Satisfy', cursive;
  font-size: 60px;
  font-weight: 400;
  /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmRBZFd-L-uV9-5omOvEJmuivSSo41fOX84yl3B19AsfK83KuLLA"); */
}

.container {
    position: relative;
    text-align: center;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 5%;
    right: 2%;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text_in_image{
   font-weight: bold;
   color: red;
}

.social_box{
  color: black;
   background: radial-gradient(rgba(255,0,0,0) 20%, rgb(255,192,203) 60%);
   /* background: linear-gradient(to bottom right, red, yellow); */
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 3px;
}

.social_links a{
  color:black;
  font-size: 60px;
  font-weight: 500;
  line-height: 100%;
  padding: 30px;
}

.threequarters{
  outline-style: solid;
  margin:10px;
  outline-color: white;
}

.threequarters h4{
  color:black;
  font-size: 20px;
  font-weight: 500;
}

.padded h4{
  margin-top: 20px;
}

.self_image{
  height:50%;
  margin:auto;
  padding: 5px;
  border-style: outset;
  border-width: 5px;
   border-radius: 2px;
}

.portfolio_images{
  line-height: 12px;
}

.portfolio_images img{
  margin:auto;
  width:auto;
  padding: 1%;
  border-style: inset;
  border-width: 5px;
   border-radius: 2px;
}

.image_set1 img{
  height:52%;
}

.image_set2 img{
  height:35%;
}


.pink_button{
  background-color: #f67cb9;
  color: white;
}
.pink_button:hover{
  color: black;
}


.about{
  padding:5%;
  padding-left:10%;
  padding-right:10%;
}

.about h3{
  line-height: 180%;
}


.form-text{
  font-size:15px;
}
